<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bm.pdm.ifpb.com.businessmanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.CadastroActivity"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity
            android:name=".views.CadastroFuncionario"
            android:parentActivityName=".views.CadastroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.CadastroActivity" />
        </activity>
        <activity
            android:name=".views.MenuActivity"
            android:parentActivityName=".views.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MainActivity" />
        </activity>
        <activity android:name=".views.CadastroAdministrador"
            android:parentActivityName=".views.CadastroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.CadastroActivity" />
        </activity>
        <activity android:name=".views.CadastroAtividade"
            android:parentActivityName=".views.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MenuActivity" />
        </activity>
        <activity android:name=".views.DuvidaActivity"
            android:parentActivityName=".views.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MenuActivity" />
        </activity>
    </application>

</manifest>